@include('components/layout/header')

<h1>Mes listes</h1>

<a href="{{ route('bucket_new') }}">+ Créer une liste</a>

<section>
    @each(bucket in buckets)
        <article>
            <a href="{{ route('bucket_view', {id: bucket.id}) }}">
                <h2>{{ bucket.category.icon }} {{ bucket.title }}</h2>
            </a>

            @include('components/buckets/delete')
        </article>
    @end
</section>


@include('components/layout/footer')
