@use "base/core";
@use "components/layout/header";
@use "components/layout/footer";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    background-color: var(--dark-blue);
    color: var(--blue);
}

h1 {
    font-size: 2rem;
    color: var(--lilac);
}

a {
    text-decoration: none;
    color: var(--yellow);
}

main {
    margin: 80px 0;
    flex: 1;
}

@media screen and (max-width: 768px) {
    main {
        margin: 30px 0;
    }
}
