button {
    border: none;
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 8px 20px;
    border-radius: var(--radius-default);
    background-color: var(--pink);
    color: var(--dark-blue);
    font-size: 1.3rem;

    &.small {
        font-size: 1.1rem;
        padding: 6px 15px;
    }
}
