@use "button";

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form-field {
    width: 100%;
}

label {
    width: 100%;
    color: var(--blue);
    font-size: 1.1rem;
}

input[type="text"], input[type="password"], input[type="email"], select {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-radius: var(--radius-default);
    border: 1px solid var(--pink);
    background-color: color-mix(in srgb, var(--lilac) 20%, transparent 80%);
    color: var(--pink);
    font-size: 1.1rem;

    &::placeholder {
        color: color-mix(in srgb, var(--pink) 70%, transparent 30%);
    }
}

select option {
    background-color: var(--dark-blue);
}

.form-errors {
    margin-top: 5px;
    width: 100%;

    li {
        padding: 5px 10px;
        border-left: 3px solid var(--warn);
    }
}
